<link rel="import" href="user.html">

<dom-module id="cmatch-app">
  <template>
    <style>

      :host{
        display: block;
      }

      .cen{
        width: 100%;
        height: 100%;
        margin: 0;
      }

    </style>

    <div class="cen">
    <user-module></user-module>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CmatchApp extends Polymer.Element {
      static get is() { return 'cmatch-app'; }
      static get properties() {

      }
    }

    window.customElements.define(CmatchApp.is, CmatchApp);
  </script>
</dom-module>
