<link rel="import" href="../elements.html">


<dom-module id="user-module">
  <template>
    <style is="custom-style">

    :host{

      width: 100%;
      height: 100%;
      @apply(--layout-horizontal);
      @apply(--layout-center);
      @apply(--layout-center-justified);

    }

    paper-material{
      display: block;
      width: 300px;
      height: 400px;
    }

    iron-form{
      padding: 40px;
    }

    .buttons{
      width: 100%;
    }

    paper-input{
      margin-top: 15px
    }

    paper-button{
      margin-top: 10px;
    }

    paper-dialog{
      min-width: 300px;
      margin: 0;
    }

    </style>

    <paper-material elevation="5" animated>
      <iron-form id="signinform">
        <paper-input id="username"  value="{{user.username::input}}" required
        label="email" error-message="Este campo no puede ir vacio">
      </paper-input>
      <paper-input id="password" type="password" value="{{user.password::input}}" required
      label="Contraseña" error-message="Este campo no puede ir vacio"
      ></paper-input>
      <paper-button id="btnsignin" raised class="buttons" on-tap="_signIn">inicar sesión</paper-button>
      <paper-button id="btnsignup" raised class="buttons" on-tap="_openDlgSignUpForm">registrate</paper-button>
    </iron-form>
  </paper-material>
  <paper-dialog id="dlgsignupform" entry-animation="scale-up-animation">
    <h2>Registrate </h2>
    <paper-dialog-scrollable>
      <iron-form id="signupform" style="padding:10px;">
        <paper-input id="name"  required
        label="Nombres" error-message="este campo no puede ir vacio"
        ></paper-input>
        <paper-input id="username2"  required
        label="nombre de usuario" error-message="Este campo no puede ir vacio"
        ></paper-input>
        <paper-input id="password2"  type="password" required
        label="Contraseña" error-message="este campo no puede ir vacio"
        ></paper-input>
        <paper-input id="passwordagain" type="password" required
        label="Repita la contraseña" error-message="este campo no puede ir vacio"
        ></paper-input>
        <paper-button class="buttons" raised on-tap="_signUp">Registrar</paper-button>
        <paper-button class="buttons" raised on-tap="_onCloseDlgSignUpForm">cancelar</paper-button>
      </iron-form>
    </paper-dialog-scrollable>
  </paper-dialog>

  <iron-ajax
  id="formajax"
  handle-as="json"
  loading={{loading}}
  on-response="_handleResponse"
  debounce-duration="300">
  
</iron-ajax>

</template>

<script type="text/javascript">

class UserElement extends Polymer.Element {

  static get is(){return 'user-module';}

  static get properties(){
    return{
      user:{
        type: Object,
        notify: true,
        value: function(){
          return {username:'', password:''};
        },
      },

      loading:{
        type:Boolean,
        notify:true,
        value:false,
      }
    };
  }

  _openDlgSignUpForm(){
    this.$.dlgsignupform.open();
  }

  _onCloseDlgSignUpForm(){
    this.$.dlgsignupform.close();
  }

  _signIn(){
    if (this.$.username.validate() && this.$.password.validate()) {

    }
  }

  _signUp(){

  }

  _handleResponse(){

  }
}

window.customElements.define(UserElement.is, UserElement);

</script>

</dom-module>
